@import '../../assets/css/common';

.custom-button {
  @include box-shadow-transition;
  @include custom-button;

  &:hover {
    @include custom-button-hover;
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
