@import '../../assets/css/common';

.todo {
  line-height: 24px;



  .task-svg-icons {
    float: right;

    svg {
      width: 24px;
      height: 24px;
      margin: 0 6px;
      cursor: pointer;
      
      .done-svg {
        --check-fill: #aaa;
      }
      .edit-svg {
        --edit-fill: #aaa;
      }
      .delete-svg {
        --bin-fill: #aaa;
      }
      &.done:hover {
        .done-svg {
          --check-fill: #267426;
        }
      }
      &.edit:hover {
        .edit-svg {
          --edit-fill: #1E90FF;
        }
      }
      &.delete:hover {
        .delete-svg {
          --bin-fill: #f00;
        }
      }
    }
  }
}

.taks.done {
  &:nth-child(odd) {
    background: #ddd;
  }
}
