:root {
  // hover-on
  --img-transform: scale(1.3);
  --img-transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1);

  //hover-off
  --img-transform-off: scale(1);
  --img-transition-off: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

$sub-color: grey;
$main-color: black;

svg {
  width: 24px;
  height: 24px;
  --user-fill: #aaa;
  --lock-fill: #aaa;
  --envelop-fill: #aaa;
  --check-fill: #aaa;
  --edit-fill: #aaa;
  --desc-fill: #aaa;
  --bin-fill: #aaa;
  --cross-fill: #aaa;
}

@mixin img-hover-on {
  transform: scale(1.3);
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1);
}

@mixin img-hover-off {
  transform: scale(1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

@mixin log-in-reg-box {
  width: 380px;
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
  position: relative;
}

@mixin sign-in-up {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
}

@mixin box {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 0 15px 15px;
  background: #ebedee;
  border: 1px solid #ccc;
  border-radius: 7px;
}

@mixin box-item {
  text-align: center;
  @include bg-grad();
  padding: 10px;
  border-radius: 7px;
  margin: 0 -15px;
}

@mixin input-box-item {
  padding:11px;
  line-height: 25px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

// buttons

@mixin box-shadow-transition {
  transition: box-shadow .3s linear;
}

@mixin custom-button {
  min-width: 155px;
  width: auto;
  height: 50px;
  color: white;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  // text-transform: uppercase;
  font-family: Georgia,'Open Sans Condensed',serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  background: rgb(75,126,62);
  background: linear-gradient(to bottom right, rgb(75,126,62) 2%, rgb(36,71,31) 66%);
  box-shadow: rgb(36,71,31) 3px 3px 7px 2px;
  text-shadow: rgb(0,0,0) 1px 1px 1px;
}

@mixin custom-button-hover {
  background: rgb(36,71,31);
  box-shadow: none;
}

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $sub-color;
}

@mixin log-reg-icon {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin log-in-reg-link {
  &:focus, &:hover, &:visited, &:link, &:active {
      display: table;
      min-width: 155px;
      text-align: center;
      font-family: Georgia,'Open Sans Condensed',serif;
      text-decoration: none;
      padding: 15px 15px;
      border-radius: 7px;
      background: rgb(125,125,125);
      background: linear-gradient(to bottom right, rgb(125,125,125) 2%, rgb(46,46,46) 66%);
      box-shadow: rgb(66,66,66) 3px 3px 7px 2px;
      text-shadow: rgb(0,0,0) 1px 1px 1px;
      color: white;
      position: absolute;
      right: 0;
      bottom: 0;
  }
}

@mixin log-in-reg-link-hover {
  background:rgb(66,66,66);//linear-gradient(to bottom right, rgba(46,46,46,1) 50%, rgba(125,125,125,1) 100%);
  box-shadow: none;
}

@mixin bg-grad {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

@mixin bg-grad-def {
  background: rgb(35,99,7);
  background: linear-gradient(0deg, rgba(35,99,7,1) 1%, rgba(56,204,34,1) 100%);
}

@mixin bg-grad-def-hover {
  background: linear-gradient(0deg, rgba(56,204,34,1) 1%, rgba(35,99,7,1) 100%);
}

@mixin bg-grad-create {
  background: rgb(5,121,111);
  background: linear-gradient(0deg, rgba(5,121,111,1) 1%, rgba(34,204,201,1) 100%);
}

@mixin bg-grad-create-hover {
  background: linear-gradient(0deg, rgba(34,204,201,1) 1%, rgba(5,121,111,1) 100%);
}

@mixin bg-grad-danger {
  background: rgb(66,5,9);
  background: linear-gradient(0deg, rgba(66,5,9,1) 1%, rgba(204,34,37,1) 100%);
}

@mixin bg-grad-danger-hover {
  background: rgb(66,5,9);
  background: linear-gradient(0deg, rgba(204,34,37,1) 1%, rgba(66,5,9,1) 100%);
}
