@import '../../assets/css/common';

.header {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #778;

  .option {
    display: flex;
    flex-direction: row;

    span{
      width: 20px;
      text-align: center;
      cursor: pointer;

      .logout {
        display: none;
          height: 36px;
          line-height: 36px;
          position: absolute;
          right: -5px;
          z-index: 1;
      }
      &:hover {
        .logout {
          display: block;
        }
      }
    }

  }
}