@import '../../assets/css/common';

.header {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #778;

  .option {
    display: flex;
    flex-direction: row;

    span{
      width: 20px;
      text-align: center;
      cursor: pointer;

      .logout {
        display: none;
      }
      &:hover {
        .logout {
          display: block;
          position: absolute;
          right: -5px;
          width: 100px;
          padding-bottom: 3px;
          padding-top: 3px;
          border: 1px solid #bbb;
          border-radius: 5px;
          @include bg-grad();
        }
      }
    }

  }
}