@import '../../assets/css/common';
$showTime: 300ms;
.header {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #778;

  .option {
    display: flex;
    flex-direction: row;

    span{
      width: 20px;
      text-align: center;
      cursor: pointer;

      .logout {
        visibility: hidden;
        opacity: 0;
        transition: visibility $showTime, opacity $showTime;
        height: 36px;
        line-height: 36px;
        position: absolute;
        right: -5px;
        z-index: 1;
      }
      &:hover {
        .logout {
          visibility: visible;
          opacity: 1;
        }
      }
    }

  }
}