@import '../../assets/css/common';

.input-box {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;

  &.none {
    display: none;
  }

  .input-cm {
    @include input-box-item;
    margin-right: 30px;
    flex-grow: 2;
  }

  .input-desc {
    @include input-box-item;
    position: absolute;
    top: 50px;
    width: 90%;

    &.none {
      display: none;
    }
  }

  .desc-icon {
    line-height: 45px;
    margin-left: -20px;
    margin-right: 10px;
    font-size: 35px;
    cursor: pointer;
    color: #88d;
  }

  .input-btn {
    @include input-box-item;
    flex-grow: 1;
    @include bg-grad-def;
    text-align: center;
    color: white;
    cursor: pointer;
    &:hover {
      @include bg-grad-def-hover;
    }
    &.danger {
      @include bg-grad-danger;
      &:hover {
        @include bg-grad-danger-hover;
      }
    }
  }
}
