@import '../../assets/css/common';

.input-box {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;

  &.none {
    display: none;
  }

  svg.desc {
    width: 24px;
    height: 24px;
    line-height: 45px;
    margin: 13px 10px 0 -20px;
    display: block;
    cursor: pointer;
    
    .desc-svg {
      --desc-fill: #aaa;
    }
    &.desc:hover {
      .desc-svg {
        --desc-fill: #1E90FF;
      }
    }
  }

  .input-cm {
    @include input-box-item;
    margin-right: 30px;
    flex-grow: 2;
  }

  .input-desc {
    @include input-box-item;
    position: absolute;
    top: 55px;
    width: 90%;
    box-shadow: rgb(36,71,31) 3px 3px 7px 3px;

    &.none {
      display: none;
    }
  }
}
